header {

    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-bottom: solid #cccccc;

}

h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
}

.logo {
    background:#4aaaa5;
    padding: 20px;
    float: left;
    color: white;
    margin-bottom: -10px;
    margin-left: 0 auto;
    
}

h3 {

    float: right;
 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .content {

    background: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    
  }

  .topcontent {

border-bottom: solid #cccccc;
padding-bottom: 30px;

  }

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    background-image: url("../images/background.png");
    color: #777777;
    width: 960px;
    margin-left: 15%;
    margin-right: 15%;
    
    
}

#profilepic {

    float: left;
    margin-right: 15px;

}

footer {

    background: #666666;
    text-align: center-bottom;
    border-top: 8px solid #4aaaa5;
    padding: 30px 15px 5px 15px;
    color: lightgray;
    text-align: center;
    font-size: x-small;

}

h5 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    background: #4aaaa5;
    color:#ffffff;
}

.images {

    width: 225px;
height: 150px;
margin: 10px;
float: left;


}

.hangman {

    position: relative;
    margin: 10px;
}

 #hangman {

        position: absolute;
        text-align: center;    
        top: 80px;
        left: 10px;
        padding: 10px 66.5px;
 }
.rpg {

    position: relative;
    margin: 10px;
}

#rpg {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 255px;
    padding: 10px 59px;

}